@import url('https://fonts.googleapis.com/css?family=Goldman:300,400,500,700&display=swap');

.Score_Vie {
    -fx-text-fill: white;
    -fx-font-family: 'Goldman', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}

.Chrono {
    -fx-text-fill: white;
    -fx-font-family: 'Goldman', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.ScoreGagne {
    -fx-text-fill: white;
    -fx-font-family: 'Goldman', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 70px;
}

.nomJeu {
    -fx-text-fill: white;
    -fx-font-family: 'Goldman', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 50px;
}

.nameGame {
    -fx-text-fill: white;
    -fx-font-family: 'Goldman', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 90px;
}

.buttonEcran {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #9b9d9e 0%, #7a7c7d 100%),
    #7a7c7d,
    #9b9d9e,
    radial-gradient(center 50% 50%, radius 100%, white, #9b9d9e);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    /* -fx-font-weight: bold;*/
    -fx-font-size: 1.7em;
    -fx-font-family: 'Goldman', sans-serif;
}

.buttonEcran:hover {
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #9b9d9e 0%, #7a7c7d 100%),
    #7a7c7d,
    #9b9d9e,
    radial-gradient(center 50% 50%, radius 100%, white, #7a7c7d);
}

.buttonEcran:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.buttonEcran Text {
    -fx-fill: white;
    -fx-effect: dropshadow(gaussian, #a30000, 0, 0, 0, 2);
}

.button_Action{
    -fx-font-size: 10px;
    -fx-padding: -3;
}